<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        >

        <activity android:name=".MainActivity" />
        <activity android:name=".IncomeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RecommendationActivity" />
        <activity android:name=".PrevRecommendationActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".CardListActivity" />
        <activity android:name=".EditCardActivity"/>
        <activity android:name=".FamilyPlanActivity"/>
        <activity android:name=".AddFamilyExpensesActivity"/>
        <activity android:name=".GoalListActivity"/>
        <activity android:name=".Goal_Add_Activity1"/>
        <activity android:name=".Goal_Add_Activity2"/>
        <activity android:name=".BudgetingActivity"/>
        <activity android:name=".BudgetingAddActivity"/>
        <activity android:name=".StockMarketActivity"/>
        <activity android:name=".BudgetingViewActivity"/>
        <activity android:name="AddGoalProgressActivity"/>

        <activity
            android:name=".FirstPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
